section{
    margin-top: 10px;
    display: flex;
}
ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    justify-content: center;
}
.produtos{
    background-color: #00000090;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #00000090;
}
img{
    width: 150px;
}
button{
    padding: 10px;
    background-color: gray;
    border: none;
    border-radius: 10px;
    margin: 5px;
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: black;
    transition: 1s;
}